.ant-picker-calendar-mode-switch {
  display: none; 
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh; 
}

.center-container {
  align-items: center;
  justify-content: center; 
}

.checkbox-event {
  margin-top: 3vh; 
}

.delete-button {
  margin-right: 1vh; 
}

.error-input {
  border-color: red; 
}

.events {
  list-style-type: none; 
}

.events li span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.focus-outlined:hover {
  outline: 1px solid #40a9ff;
  color: #40a9ff;
}

.modal-header {
  margin-bottom: 35px; 
}

.range-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh; 
}